Repository Sh031224/Slog: changes, and which Codecov flags are due for each by the changed paths.
All: web, server

.codecov.yml:

flags:
  web:
    paths:
      - apps/web/
  server:
    paths:
      - apps/server/

feature: add profile service
  apps/server/src/controllers/index.ts
  apps/server/src/controllers/profile/index.ts
  apps/server/src/controllers/profile/profile-controller.ts
  apps/server/src/services/__tests__/profile-service.test.ts
  apps/server/src/services/profile-service.ts
Due: server

feature: add profile service (#135)
  apps/server/src/controllers/index.ts
  apps/server/src/controllers/profile/index.ts
  apps/server/src/controllers/profile/profile-controller.ts
  apps/server/src/services/__tests__/profile-service.test.ts
  apps/server/src/services/profile-service.ts
Due: server

chore: change import
  apps/server/@types/index.d.ts
Due: server

package: add dayjs
  apps/server/package.json
  pnpm-lock.yaml
Due: server

feature: add post & postView entity
  apps/server/src/data-source.ts
  apps/server/src/models/entity/post.ts
  apps/server/src/models/entity/postView.ts
Due: server

refactor: change token expire date
  apps/server/src/constants/time.ts
  apps/server/src/constants/token.ts
  apps/server/src/services/__tests__/token-service.test.ts
  apps/server/src/services/auth-service.ts
  apps/server/src/services/token-service.ts
  apps/server/src/types/jwt.ts
  packages/shared-types/index.ts
Due: server

refactor: change naming category service
  apps/server/src/controllers/category/category-controller.ts
  apps/server/src/controllers/category/index.ts
  apps/server/src/repositories/__tests__/category-repository.test.ts
  apps/server/src/repositories/category-repositoy.ts
  apps/server/src/services/__tests__/category-service.test.ts
  apps/server/src/services/category-service.ts
  apps/server/src/types/index.ts
Due: server

feature: add post service
  apps/server/src/controllers/index.ts
  apps/server/src/controllers/post/index.ts
  apps/server/src/controllers/post/post-controller.ts
  apps/server/src/middlewares/auth-middleware.ts
  apps/server/src/repositories/__tests__/post-repository.test.ts
  apps/server/src/repositories/__tests__/post-view-repository.test.ts
  apps/server/src/repositories/post-repository.ts
  apps/server/src/repositories/post-view-repository.ts
  apps/server/src/services/post-service.ts
  apps/server/src/services/post-view-service.ts
  apps/server/src/validator/post-validator.ts
Due: server

rename: category service
  apps/server/src/repositories/__tests__/category-repository.test.ts
  apps/server/src/repositories/category-repository.ts
  apps/server/src/services/__tests__/category-service.test.ts
  apps/server/src/services/category-service.ts
  apps/server/src/services/post-service.ts
Due: server

test: post-view-service update
  apps/server/src/services/__tests__/post-view-service.test.ts
Due: server

script: fix test script
  apps/server/package.json
  apps/web/package.json
Due: web, server

refactor: remove fk
  apps/server/src/models/entity/post.ts
  apps/server/src/models/entity/postView.ts
  apps/server/src/repositories/__tests__/post-view-repository.test.ts
  apps/server/src/repositories/post-view-repository.ts
  apps/server/src/services/post-service.ts
Due: server

fix: validator
  apps/server/src/controllers/post/post-controller.ts
Due: server

test: fix category-service test code
  apps/server/src/services/__tests__/category-service.test.ts
Due: server

feature: post-service + entity (#138)
  apps/server/@types/index.d.ts
  apps/server/package.json
  apps/server/src/constants/time.ts
  apps/server/src/constants/token.ts
  apps/server/src/controllers/category/category-controller.ts
  apps/server/src/controllers/category/index.ts
  apps/server/src/controllers/index.ts
  apps/server/src/controllers/post/index.ts
  apps/server/src/controllers/post/post-controller.ts
  apps/server/src/data-source.ts
  apps/server/src/middlewares/auth-middleware.ts
  apps/server/src/models/entity/post.ts
  apps/server/src/models/entity/postView.ts
  apps/server/src/repositories/__tests__/category-repository.test.ts
  apps/server/src/repositories/__tests__/post-repository.test.ts
  apps/server/src/repositories/__tests__/post-view-repository.test.ts
  apps/server/src/repositories/category-repository.ts
  apps/server/src/repositories/post-repository.ts
  apps/server/src/repositories/post-view-repository.ts
  apps/server/src/services/__tests__/category-service.test.ts
  apps/server/src/services/__tests__/post-view-service.test.ts
  apps/server/src/services/__tests__/token-service.test.ts
  apps/server/src/services/auth-service.ts
  apps/server/src/services/category-service.ts
  apps/server/src/services/post-service.ts
  apps/server/src/services/post-view-service.ts
  apps/server/src/services/token-service.ts
  apps/server/src/types/index.ts
  apps/server/src/validator/post-validator.ts
  apps/web/package.json
  packages/shared-types/index.ts
  pnpm-lock.yaml
Due: web, server

update: node version 16 to 18
  .nvmrc
Due: none

update: workflow nodejs version upgrade
  .github/workflows/test.yml
Due: none

update: node version 16 to 18 (#140)
  .github/workflows/test.yml
  .nvmrc
Due: none

feature: add package scope: @slog
  .eslintrc.js
  apps/server/package.json
  apps/server/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
  packages/eslint-config-typescript/index.js
  packages/eslint-config-typescript/package.json
  packages/shared-types/package.json
  packages/tsconfig/package.json
  packages/types/.eslintrc.js
  packages/types/index.ts
  packages/types/package.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: web, server

fix: eslint + vscode error fix
  .vscode/settings.json
Due: none

package: update dependencies
  pnpm-lock.yaml
Due: none

test: update test code
  apps/server/jest.config.js
  apps/server/src/constants/firebase.ts
  apps/server/src/services/__tests__/auth-service.test.ts
  apps/server/src/services/__tests__/category-service.test.ts
  apps/server/src/services/__tests__/image-service.test.ts
  apps/server/src/services/__tests__/post-view-service.test.ts
  apps/server/src/services/__tests__/profile-service.test.ts
Due: server

fix: deploy process change
  apps/server/.swcrc
  apps/server/package.json
  apps/server/vercel.json
  pnpm-lock.yaml
Due: server

refactor: rb build scripts & add module-alias
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/vercel.json
  pnpm-lock.yaml
Due: server

remove: swcrc
  apps/server/.swcrc
Due: server

package: moduleAlias
  apps/server/package.json
Due: server

fix: change absolute path
  apps/server/tsconfig.json
Due: server

fix: main script file
  apps/server/index.ts
  apps/server/package.json
  apps/server/vercel.json
Due: server

refactor: rb src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/vercel.json
Due: server

refactor: legacy vercel.json migration
  apps/server/vercel.json
Due: server

feature: use runtime @vercel/node@2.6.4
  apps/server/vercel.json
Due: server

feature: add api route
  apps/server/api/index.ts
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/vercel.json
  pnpm-lock.yaml
Due: server

feature: add swc
  apps/server/.gitignore
  apps/server/.swcrc
  apps/server/api/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/vercel.json
  pnpm-lock.yaml
Due: server

update: vercel.json
  apps/server/vercel.json
Due: server

fix: index.ts to index.js
  apps/server/vercel.json
Due: server

refactor: vercel.json
  apps/server/vercel.json
Due: server

add: public/
  apps/server/.gitignore
  apps/server/public/.keep
Due: server

update: build out dir
  apps/server/.gitignore
  apps/server/package.json
  apps/server/public/.keep
Due: server
