Repository Sh031224/Slog: changes, and which Codecov flags are due for each by the changed paths.
All: web, server

test-report: cache false
  turbo.json
Due: none

fix: workflow
  .github/workflows/test.yml
Due: none

remove: .codecov.yml
  .codecov.yml
  .github/workflows/test.yml
Due: none

test: add Header test code
  apps/web/src/components/Header/Hedader.test.tsx
Due: web

fix: setup test
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/components/Header/__snapshots__/Hedader.test.tsx.snap
  apps/web/src/setupTests.ts
  apps/web/src/setupTests.tsx
  packages/tsconfig/nextjs.json
  pnpm-lock.yaml
Due: web

fix: setupTest
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/components/Header/Hedader.test.tsx
  apps/web/src/components/Header/__snapshots__/Hedader.test.tsx.snap
Due: web

fix: on push, execute test
  .github/workflows/test.yml
Due: none

fix: workflow error
  .github/workflows/test.yml
Due: none

Update README.md
  README.md
Due: none

package: testing-utils
  apps/web/package.json
  packages/testing-utils/index.ts
  packages/testing-utils/package.json
  packages/testing-utils/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
Due: web

test-server: add ignore line
  apps/server/src/models/error/bad-request-error.ts
  apps/server/src/models/error/forbidden-error.ts
  apps/server/src/models/error/index.ts
  apps/server/src/models/error/not-found-error.ts
  apps/server/src/models/error/unauthorized-error.ts
Due: server

rename-server: testing-utils to test-utils
  apps/server/src/test-utils.ts
Due: server

package-global: add testing-utils to workspace
  apps/server/package.json
  apps/server/tsconfig.json
  pnpm-lock.yaml
Due: server

test-server: add test code lib/
  apps/server/src/lib/facebook-login.ts
  apps/server/src/lib/tests/error-handler.test.ts
  apps/server/src/lib/tests/facebook-login.test.ts
  apps/server/src/lib/tests/google-cloud.test.ts
Due: server

chore-global: github action auto create .env
  .github/workflows/test.yml
Due: none

chore-global: test workflow
  .github/workflows/test.yml
Due: none

chore-global: Setting Environment Variables
  .github/workflows/test.yml
  turbo.json
Due: none

fix-testing-utils: config error
  packages/testing-utils/tsconfig.json
  packages/tsconfig/package.json
Due: none

add-global: codecov.yml
  codecov.yml
Due: none

rename-server: tests to __tests__
  apps/server/jest.config.js
  apps/server/src/lib/__tests__/error-handler.test.ts
  apps/server/src/lib/__tests__/facebook-login.test.ts
  apps/server/src/lib/__tests__/google-cloud.test.ts
Due: server

feature-server: export const to export default
  apps/server/src/data-source.ts
  apps/server/src/index.ts
  apps/server/src/models/entity/user.ts
  apps/server/src/repositories/user-repository.ts
  apps/server/tsconfig.json
Due: server

test-server: add test code services, repository
  apps/server/src/repositories/__tests__/user-repository.test.ts
  apps/server/src/services/__tests__/auth-service.test.ts
  apps/server/src/services/__tests__/image-service.test.ts
Due: server

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: add github labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

chore: add auto release drafter
  .github/release-drafter.yml
  .github/workflows/release.yml
Due: none

chore: add github template
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add github template, github actions workflow (#126)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Due: none

chore: fix github template
  .github/ISSUE_TEMPLATE/2.feature_request.yml
Due: none

chore: fix labeler.yml
  .github/labeler.yml
Due: none

chore: fix github template (#128)
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/labeler.yml
Due: none

add: res.cookie for mock response
  apps/server/src/test-utils.ts
Due: server

test: add token-service.test.ts
  apps/server/src/services/__tests__/token-service.test.ts
  apps/server/src/services/token-service.ts
Due: server

chore: fix labeler yml
  .github/labeler.yml
Due: none

chore: fix labeler yml (#132)
  .github/labeler.yml
Due: none

test: add test code for token-service (#131)
  apps/server/src/services/__tests__/token-service.test.ts
  apps/server/src/services/token-service.ts
  apps/server/src/test-utils.ts
Due: server

feature: add category entity
  apps/server/src/data-source.ts
  apps/server/src/models/entity/category.ts
Due: server

refactor: function to arrow function
  apps/server/src/services/auth-service.ts
  apps/server/src/validator/auth-validator.ts
  apps/server/src/validator/index.ts
Due: server

feature: add category services
  apps/server/src/controllers/category/category-controller.ts
  apps/server/src/controllers/category/index.ts
  apps/server/src/repositories/category-repositoy.ts
  apps/server/src/services/category-service.ts
  apps/server/src/validator/category-validator.ts
Due: server

test: add test code for category service
  apps/server/src/lib/__tests__/error-handler.test.ts
  apps/server/src/models/entity/user.ts
  apps/server/src/models/error/conflict-error.ts
  apps/server/src/repositories/__tests__/category-repository.test.ts
  apps/server/src/repositories/user-repository.ts
  apps/server/src/services/__tests__/category-service.test.ts
Due: server

feature: add category domain (#133)
  apps/server/src/controllers/category/category-controller.ts
  apps/server/src/controllers/category/index.ts
  apps/server/src/data-source.ts
  apps/server/src/lib/__tests__/error-handler.test.ts
  apps/server/src/models/entity/category.ts
  apps/server/src/models/entity/user.ts
  apps/server/src/models/error/conflict-error.ts
  apps/server/src/repositories/__tests__/category-repository.test.ts
  apps/server/src/repositories/category-repositoy.ts
  apps/server/src/repositories/user-repository.ts
  apps/server/src/services/__tests__/category-service.test.ts
  apps/server/src/services/auth-service.ts
  apps/server/src/services/category-service.ts
  apps/server/src/validator/auth-validator.ts
  apps/server/src/validator/category-validator.ts
  apps/server/src/validator/index.ts
Due: server

Path conditions:
  web: any of: apps/web/
  server: any of: apps/server/
